body, html {
    font-family: "Roboto", sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #f7f7f7;
    color: #161616;
  }
h3{
  font-weight: 200;
}
  .logo {
    background-image: url('img/rocket.png');
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .note {
    position: absolute;
    background: white;
    width: 450px;
    height: 400px;
    padding: 1em;
    border: 2px solid #A0C6E5;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  }
  .editingnote{
    position: absolute;
    background: white;
    width: 450px;
    height: 400px;
    padding: 1em;
    border: 2px solid #4AD494;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  }

  textarea{
    height: 200px;
    width: 425px;
  }
  textarea:focus{
    background: #f5f5f5;
    outline: none;
  }
  .header {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
  }
  .action-icons{
  }
  i{
    margin: 0 0.3em;
    transition: all .1s ease-in;
  }
  i:hover{
    transform: scale(1.1);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  }
  input{
    font-size: 20pt;
    border: none;
  }
  input:focus{
    background: #f5f5f5;
    outline: none;
  }
  button{
    margin: 1em;
    padding: 1em 2em;
    border: 2px solid #A0C6E5;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    transition: all .2s ease-in-out;
  }
  button:focus{
    outline: none;
  }
  button:hover{
    transform: scale(1.05);
    background: #A0C6E5;
    color: white;
  }
  .page-header{
    border-bottom: 2px solid #A0C6E5;
    margin: 0 auto;
    padding: 2em;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    background: white;
  }

  .fa-check{
    color: #4AD494
  }