body, html {
    font-family: "Roboto", sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #f7f7f7;
    color: #161616;
  }
h3{
  font-weight: 300;
  font-size: 10pt;
}
h1{
  font-size: 20pt;
}
  .logo {
    background-image: url('img/rocket.png');
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .note {
    position: absolute;
    background: white;
    min-width: 450px;
    min-height: 120px;
    padding: 1em;
    border-width: 2px;
    border-style: solid;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-color: #A0C6E5;
  }

  .editingnote{
    position: absolute;
    background: white;
    min-width: 250px;
    min-height: 120px;
    padding: 1em;
    border: 2px solid #4AD494;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  }
  .blue{
    position: absolute;
    background: white;
    min-width: 450px;
    min-height: 120px;
    padding: 1em;
    border-width: 2px;
    border-style: solid;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-color: #A0C6E5;
  }
  .yellow{
    position: absolute;
    background: white;
    min-width: 450px;
    min-height: 120px;
    padding: 1em;
    border-width: 2px;
    border-style: solid;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-color: #FAE889;
  }
  .orange{
    position: absolute;
    background: white;
    min-width: 450px;
    min-height: 120px;
    padding: 1em;
    border-width: 2px;
    border-style: solid;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-color: #FDAC51;
  }
  .purple{
    position: absolute;
    background: white;
    min-width: 450px;
    min-height: 120px;
    padding: 1em;
    border-width: 2px;
    border-style: solid;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-color: #B99DFC;
  }

  textarea{
    height: 100px;
    width: 425px;
    border: none;
    font-size: 11pt;
    font-weight: 200;
  }
  textarea:focus{
    background: #f5f5f5;
    outline: none;
  }
  .notEditing:focus{
    background: white;
    outline: none;
  }
  .header {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
  }
  
  i{
    margin: 0 0.3em;
    transition: all .1s ease-in;
  }
  i:hover{
    transform: scale(1.1);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  }
  input{
    font-size: 18pt;
    border: none;
  }
  input:focus{
    background: #f5f5f5;
    outline: none;
  }
  .newNoteInput{
    margin: 1em 2em;
    background: #f7f7f7;
    border-bottom: 2px solid #A0C6E5;
    
  }
  ::placeholder{
    color: #d4d4d4;
  }
  button{
    margin: 1em;
    padding: 1em 2em;
    border: 2px solid #A0C6E5;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    transition: all .2s ease-in-out;
  }
  button:focus{
    outline: none;
  }
  button:hover{
    transform: scale(1.05);
    background: #A0C6E5;
    color: white;
  }
  .page-header{
    border-bottom: 2px solid #A0C6E5;
    margin: 0 auto;
    padding: 1em;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    background: white;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
  }

  .fa-check{
    color: #4AD494
  }

  .fa-undo:hover{
    color: #F75843;
  }

  #purple{
    color:  #B99DFC;
  }
  #blue{
    color:  #A0C6E5;
  }
  #yellow{
    color:  #FAE889;
  }
  #orange{
    color: #FDAC51;
  }